.reviews {
    height: 244px;
    margin-bottom: 292px;
    &-main {
        display: flex;
        background: #FEC5CE;
        justify-content: center;
        padding: 56px 101px 62px 120px;

        &-title {
            display: flex;
            gap: 407px;
            justify-content: center;
        }

        &-subtitle {
            font-family: 'Nunito sans' ;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 49px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            justify-content: center;
            color: #191018;
            gap: 111px;
        }
    }
}

h3 {
    font-family: 'Nunito Sans' ;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-transform: uppercase;
    color: #191018;
}