@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper, .container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

:root {
  --color-primary: #FB3F5C;
  --color-white: #F8EEEF;
  --color-black: #191018;
}

.header-logo {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
}

.header-text {
  font-family: "Nunito Sans";
  font-size: 24px;
  line-height: 33px;
}

.header {
  background: var(--color-primary);
  color: var(--color-white);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header-logo {
  text-transform: uppercase;
}
.header-logo > a {
  text-decoration: none;
  color: var(--color-white);
}
.header-text-inside + .header-text-inside {
  margin-left: 50px;
}
.header-text {
  font-weight: 400;
  list-style-type: none;
  color: var(--color-white);
  text-decoration: none;
}
.header-text a {
  text-decoration: none;
  color: var(--color-white);
  position: relative;
}
.header-text a:hover {
  font-weight: bold;
  color: white;
}
.header-text a::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0;
  height: 6px;
  background: var(--color-white);
  border-radius: 55px;
  transition: 0.2s;
  top: 35px;
}
.header-text a:hover::before {
  width: 30%;
}

.firstname {
  font-family: "Nunito Sans" sans-serif;
  position: relative;
}
.firstname-main {
  padding: 150px 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.firstname-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.firstname-main-container-hello {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #000000;
  width: 74px;
  font-family: "Nunito Sans";
}
.firstname-main-container-header {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-transform: capitalize;
  color: var(--color-black);
  width: 454px;
}
.firstname-main-container-header-color {
  color: var(--color-primary);
}
.firstname-main-container-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.06em;
  text-transform: lowercase;
  color: var(--color-black);
  margin-bottom: 16px;
  width: 481px;
}
.firstname-main-container-button {
  cursor: pointer;
  width: 223px;
  height: 65px;
  background: var(--color-primary);
  border-radius: 18px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  justify-content: center;
  align-items: center;
  color: #F8EEEF;
  border: none;
}
.firstname-main-photo::after {
  content: "";
  position: absolute;
  top: 50px;
  z-index: -1;
  width: 0;
  right: 0;
  height: 0;
  border-bottom: 750px solid rgba(251, 63, 92, 0.5);
  border-left: 800px solid transparent;
}

.beautystyle {
  background: #FFFFFF;
}
.beautystyle_container {
  display: flex;
  justify-content: space-between;
  gap: 174px;
  margin-bottom: 221px;
}
.beautystyle_container_baground {
  margin-top: 324px;
  margin-left: 146px;
  width: 0;
  height: 0;
  border-bottom: 432px solid #F8EEEF;
  border-left: 581px solid transparent;
  border-left: 388px solid transparent;
  position: fixed;
}
.beautystyle_container_image {
  width: 388px;
  height: 432px;
  border-radius: 4px;
  margin-top: 324px;
  margin-left: 146px;
  position: relative;
  background: linear-gradient(to bottom right, #FFFFFF 50%, #F8EEEF 50%);
}
.beautystyle_container_image img {
  position: absolute;
  bottom: 50px;
  right: 49px;
}
.beautystyle_container_contant {
  margin-top: 222px;
}
.beautystyle_container_contant h2 {
  width: 522px;
  color: #191018;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.beautystyle_container_contant p {
  width: 597px;
  color: #191018;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 48px;
  text-transform: lowercase;
  letter-spacing: 0.06em;
}
.beautystyle_container_contant_button {
  display: flex;
  gap: 36px;
  margin-bottom: 64px;
}
.beautystyle_container_contant_button_1 {
  width: 223px;
  height: 65px;
  border-radius: 18px;
  background: #FFFFFF;
  color: #FB3F5C;
  border: 1px solid #FB3F5C;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
.beautystyle_container_contant_button_1:hover {
  cursor: pointer;
  background: #FB3F5C;
  color: #FFFFFF;
}
.beautystyle_container_contant_meaning {
  width: 606px;
  height: 106px;
  display: grid;
  grid-template: 45px 45px/272px 272px;
  -moz-column-gap: 69px;
       column-gap: 69px;
  row-gap: 21px;
}
.beautystyle_container_contant_meaning_progress {
  width: 272px;
  position: relative;
}

img.image {
  margin-right: 12px;
  background-color: #191018;
}

.span1 {
  position: absolute;
  bottom: 15px;
  right: 69px;
}

.span2 {
  position: absolute;
  bottom: 15px;
  right: 112px;
}

.span3 {
  position: absolute;
  bottom: 15px;
  right: 50px;
}

progress {
  border-radius: 0;
  border: 0;
  width: 210px;
  height: 8px;
  background: #FB3F5C;
}

progress::-webkit-progress-bar {
  background: #C4C4C4;
}

progress::-webkit-progress-value {
  background: #FB3F5C;
}

.reviews {
  height: 244px;
  margin-bottom: 292px;
}
.reviews-main {
  display: flex;
  background: #FEC5CE;
  justify-content: center;
  padding: 56px 101px 62px 120px;
}
.reviews-main-title {
  display: flex;
  gap: 407px;
  justify-content: center;
}
.reviews-main-subtitle {
  font-family: "Nunito sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  color: #191018;
  gap: 111px;
}

h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-transform: uppercase;
  color: #191018;
}

.main-cards {
  height: 1100px;
}
.main-cards-title {
  position: absolute;
  height: 20px;
  font-family: "Nunito sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 42px;
  color: #191018;
  right: 810px;
  top: 2400px;
}
.main-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}

.main-card {
  width: 330px;
  height: 290px;
  margin-bottom: 152px;
}
.main-card-title {
  font-family: "Nunito sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2D2D2D;
  margin-bottom: 10px;
  margin-top: 25px;
}
.main-card-subtitle {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #2D2D2D;
  margin-bottom: 60px;
}

.opinion {
  height: 600px;
  background: rgba(251, 63, 92, 0.3);
  padding: 86px;
}
.opinion-container {
  width: 726px;
  height: 400px;
  background: #FFFFFF;
  box-shadow: 0px 54px 104px rgba(0, 0, 0, 0.04);
  border-radius: 140px 0px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.opinion-container-inside {
  padding: 52px 57px 52px 57px;
}
.opinion-image {
  display: flex;
  gap: 140px;
  margin-bottom: 20px;
}
.opinion-image-skobka {
  width: 110px;
  height: 86px;
}
.opinion-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 4px;
}
.opinion-happy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FE2C54;
  margin-bottom: 20px;
}
.opinion-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #5D616F;
  margin-bottom: 12px;
}
.opinion-vector {
  text-align: center;
}
.opinion-ellipse {
  display: flex;
  width: 50px;
  height: 10px;
  margin-left: 800px;
  margin-top: 41px;
  gap: 10px;
}
.opinion-ellipse-small {
  width: 10px;
  height: 10px;
  background: #F2F2F2;
  border-radius: 50%;
}
.opinion-ellipse-small:hover {
  background: #333333;
}/*# sourceMappingURL=style.css.map */