.main-cards {
    height: 1100px;

    &-title {
       
        position: absolute;
        height: 20px;
        font-family: 'Nunito sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 42px;
        color: #191018;
        right: 810px;
        top: 2400px;
    }

    &-container {
        display: flex;
        flex-wrap: wrap;
        gap: 45px;
        justify-content: center;
        
    }
}

.main-card {
    width: 330px;
    height: 290px;
    margin-bottom: 152px;

    &-title {
        font-family: 'Nunito sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #2D2D2D;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    &-subtitle {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        color: #2D2D2D;
        margin-bottom: 60px;
    }
}